.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
}

.infoContainer {
  font-family: var(--font-orbit);
  padding-left: 20px;
}

.infoContainer > p {
  margin: 10px;
}