@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: rgb(20, 21, 31);
  --main-text-color: white;
  --highlight-color: rgb(16, 240, 221);
  --highlight-color-dark: rgb(16, 100, 100);
  --highlight-color-op: rgba(16, 195, 240, 0.4);
}

body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  color: var(--main-text-color);
  background: var(--main-bg-color);
  font-family: var(--font-inconsolata);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border: 3px solid var(--main-bg-color);
  border-radius: 10px;
}

main {
  padding-right: 20rem;
  padding-left: 20rem;
  margin-right: 0;
  margin-left: 0;
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 4rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li::before {
  content: "▹";
  margin-right: 15px;
  color: var(--highlight-color);
}

h1 {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: 30px;
  width: 100%;
}

h2 {
  opacity: 0.8;
  margin-bottom: 10px;
  font-family: var(--font-inter);
}

h3 {
  opacity: 0.8;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-inter);
}

p {
  font-family: var(--font-inter);
}

.highlight-link {
  transition: 0.3s;
}

.highlight-link:hover {
  color: var(--highlight-color);
  transition: 0.3s;
}
